{% extends './layout/base.html' %}
{%load static%}

{% block title %}{{title}}{% endblock %}

{% block extraStyles %}
    <link rel="stylesheet" href="{%static 'Accounts/css/login.min.css' %}?v={{version}}">
{% endblock %}

{% block header %}{% endblock %}



{% block content %}
<div class=" login-container pass-reset-sent" >
    <div class="row m-0 p-0">
        <div class="col-md-6 form-div" >
            <div class="log-form text-left ">
                <div class="login-header d-flex mt-1" >
                <h4>Ganam</h4>                </div>
                <div class="container databox">
                        <img class="only-mobile" src="{% static 'Global/img/success.png' %}" alt="..."> 
                        <h2>Email has been sent !</h2>                     
                        <p>Please check your email and click on the link to reset password</p>
                        {% if messages%}
                        <div class="alert alert-danger alert-dismissible fade show">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {% for message in messages%}
                            {% if message.tags%}
                            <div>{{ message.tags }}</div>
                            {% endif%} 
                            {{ message }}
                            {% endfor%}
                        </div>
                        {% endif%}
                </div>
            </div>
        </div>
        <div class="col-md-6 m-0 p-0 login-image-container">     
        </div>
    </div>
   
</div>
{% endblock content %}




