{% extends './layout/base.html' %}
{%load static%}

{% block title %} {{title}}{% endblock %}

{% block extraStyles %}
    <link rel="stylesheet" href="{%static 'Accounts/css/login.min.css' %}?v={{version}}">
{% endblock %}

{% block header %}{% endblock %}



{% block content %}
<div class=" login-container pass-reset-form" >
    <div class="row m-0 p-0"> 
        <div class="col-md-6 form-div" >
            <div class="login-header d-flex mt-1" >
                <h6>Ganam</h6>    
            </div>
            <div class="log-form text-left">
                <div class="container">
                    <div class="lg-wrap">
                        <h2 class="sop-ln text-center mt-5"> Reset Password</h4>
                        {% comment %} <p>Please check your email and click on the link to reset password</p> {% endcomment %}
                        {% if validlink %}
                        <form method="post"  class="er-lform mt-md-5 mt-sm-3">
                            {% csrf_token %}
                            <span class="inp-heading">New Password</span>
                            <div class="input-group  mt-6">
                                <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" aria-autocomplete="list" class="form-control">
                                <label class="input-group-text" for="{{form.password.id_for_label}}"><i class="sop-invisible" id="eye" onclick="passwordView();"></i></label>
                            </div>                         
                            <span class="inp-heading">Confirm New Password</span>
                            <div class="input-group  mt-6 ">
                                <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" aria-autocomplete="list" class="form-control">
                                <label class="input-group-text" for="{{form.password.id_for_label}}"><i class="sop-lock"></i></label>
                            </div>                  
                            <div class="row mb-4 btn-div">
                                <div class="col-sm-12">
                                    <button type="Submit" name="Update Password" class="btn btn-primary btn-sm mt-4">Submit</button>
                                </div>
                            </div>  
                        </form>
                        <div class="helptext mt-3">
                            <p class="fm-p"><i class="sop-forward-arrow me-1"></i>Your password can't be too similar to your other personal information.</p>
                            <p class="fm-p"><i class="sop-forward-arrow me-1"></i>Your password must contain at least 8 characters.</p>
                            <p class="fm-p"><i class="sop-forward-arrow me-1"></i>Your password can't be a commonly used password.</p>
                            <p class="fm-p"><i class="sop-forward-arrow me-1"></i>Your password can't be entirely numeric.</p>
                            
                        </div>
                        {% else %}
                        <div>
                            <p> The password reset link was invalid, possibly beacuse it has already been used.
                                Please request a new password reset.
                            </p>                                
                        </div>
                        {% endif %} 
                        {% if messages%}
                        <div class="alert alert-danger alert-dismissible fade show">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {% for message in messages%}
                            {% if message.tags%}
                            <div>{{ message.tags }}</div>
                            {% endif%} 
                            {{ message }}
                            {% endfor%}
                        </div>
                        
                        {% endif%}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 m-0 p-0 login-image-container">     
        </div>
    </div>
    <div class="client-logo-footer-lg md-dm">
        <p>Powered By</p>
        <img src="{% static 'Global/img/logo-mini.png' %}" alt="..."> 
   </div> 
</div>

{% endblock content %}

{% block extraScript %}
    <script>
        function passwordView() {
            var x = document.getElementById("id_new_password1");
            var y = document.getElementById("eye");
            if (x.type === "password") {
            x.type = "text";
            y.classList.remove("sop-invisible");
            y.classList.add("sop-eye");
            } else {
            x.type = "password";    
            y.classList.remove("sop-eye");
            y.classList.add("sop-invisible");
            }
        }
    </script>
{% endblock %}


