{% extends './layout/base.html' %}
{%load static%}
{% block title %}{{title}}{% endblock %}

{% block extraStyles %}
    <link rel="stylesheet" href="{%static 'Accounts/css/login.min.css' %}?v={{version}}">
{% endblock %}

{% block header %}{% endblock %}



{% block content %}

    <div class=" login-container pass-reset" >
        <div class="row m-0 p-0">  
            <div class="col-md-6 col-sm-12 form-div" >
                    <div class="login-header d-flex mt-1" >
                    <h4>Ganam</h4>                    </div>
                    <div class="container">
                        <div class="lg-wrap form">
                            <div class=" text-center mt-5 mb-3">
                                <h2>Forgot password?</h4>
                            </div> 
                            <!-- <h3></h3> -->
                            <p class="fm-p text-center mb-2 inp-resetmsg">Please enter your registered email</p>
                            <form class="er-lform mt-md-5 mt-sm-2 mb-3" method="POST">
                                <span class="inp-heading">Email</span>
                                {% csrf_token %}
                                <div class="input-group mt-3 ">
                                    <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" class="form-control"  placeholder="Enter your email">
                                    <label class="input-group-text bg-white" for="{{form.email.id_for_label}}"><i class="sop-mail"></i></label>
                                </div>
                                <div class="row btn-div">								
                                    <div class="col-sm-12">
                                        <button type="Submit" class="btn btn-primary btn-sm" name="Send email">Submit</button>
                                    </div>
                                </div>
                            </form>
                            {% if messages%}
                            <div class="alert alert-danger alert-dismissible fade show">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {% for message in messages%}
                                {% if message.tags%}
                                <div>{{ message.tags }}</div>
                                {% endif%} 
                                {{ message }}
                                {% endfor%}
                            </div>
                            {% endif%}
                        </div>
                    </div>      
            </div>
            <div class="col-md-6 col-sm-0  m-0 p-0 login-image-container">     
            </div>
        </div>
   
    </div>

{% endblock content %}
    
    
    